---
layout: page
title: Categorias
permalink: /categorias/
---

Nesta página você encontra todos os textos separados por assunto.

{% for category in site.categories %}
  
  {% capture cat_name %}{{ category[0] | downcase | strip }}{% endcapture %}
  
  {% if cat_name != 'all_categories' %}
    
    <h2 id="{{ category[0] | slugify }}">{{ category[0] }}</h2>
    <ul>
      {% for post in category[1] %}
        <li>
          <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a> 
          <small>({{ post.date | date: "%d/%m/%Y" }})</small>
        </li>
      {% endfor %}
    </ul>
    <hr>
    
  {% endif %}
  
{% endfor %}