<header>
  <h1>TESTE</h1>
  <a class="site-title" href="{{site.baseurl}}/">{{site.title}}</a>
  
  <!-- Link simples de categorias -->
  <a href="{{site.baseurl}}/categorias/" style="margin-left: 20px; text-decoration: none;">Categorias</a>

  <!-- dark/light mode -->
  <span id="dark-mode-toggle" style="cursor: pointer; margin-left: auto;">
    <svg
      stroke="currentColor"
      fill="currentColor"
      stroke-width="0"
      viewBox="0 0 16 16"
      height="1.2em"
      width="1.2em"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zm0 13V2a6 6 0 1 1 0 12z"
      ></path>
    </svg>
  </span>
</header>